<h1><%= title %></h1>
<p>Welcome to my home page</p>
<ul>
  <a href="http://localhost:3000/about"><li>About me</li></a>
  <a href="http://localhost:3000/projects"><li>Projects</li></a>
  <a href="http://localhost:3000/services"><li>Services</li></a>
  <a href="http://localhost:3000/contact"><li>Contact</li></a>
</ul>
<div>
  <p>
    <strong>I am an engineer.</strong> I apply analytic thinking to problems and
    find a pragmatic solution that isn’t a quick fix, but a lasting value.
  </p>

  <p>
    <strong>I am part of a team.</strong> In my software development team, I
    communicate clearly and proactively. I thrive for consistency and integrity
    of the creations of my team.
  </p>

  <p>
    <strong>I am a software craftsman.</strong> I am proud of my work and
    understand it as part of the creation of the community of software
    craftmanship, which I support.
  </p>

  <p>
    <strong>I am and always will be a student.</strong> I will keep the
    beginners mind by playing and experimenting without the fear of failure.
    There will always be things I have to learn and I will make mistakes, which
    develop me.
  </p>

  <p>
    <strong>I am an optimist and a realist.</strong> I always apply this mission
    statement in good faith and to achieve great results together with my team.
    In doing so, I am willing to learn and to teach. However, I acknowledge
    reality and respect mission statements of other people. Because I will not
    violate my mission statement, I will leave every situation where my core
    values are not shared.
  </p>
</div>
<p>
  Source: Schwenke, S. (n.d.). New mission statement for my work as a software
  developer. Steven Schwenke. Retrieved October 3, 2022, from
  https://stevenschwenke.de/newMissionStatementForMyWorkAsASoftwareDeveloper
</p>
